<h1>{{ title }}</h1>


<div class="row">
  <!--
<div class="col-lg-6">
    <form enctype="multipart/form-data" >
      <input type="text" class="col-lg-4"  #userName />
      <input type="number" class="col-lg-4" #age />
      <input type="text" class="col-lg-4" #lastName />
      <input class="btn btn-primary col-lg-12" type="submit" value="Submit" (click)="onSubmit(userName.value , age.value, lastName.value )">
    </form>

  </div>
      -->

  
  <div class="col-lg-12">

    <div class="dropzone" dragnDrop (filesChangeEmiter)="onFilesChange($event)"  (filesInvalidEmiter)="onInvalidFilesAdded($event)" [allowed_extensions]="['png', 'jpg', 'bmp']" >
      <ul class="valid">
        <li *ngFor="let file of fileList; let i = index">
          {{ file.name }}

          <button type="button" class="btn btn-link " style="text-decoration: none !important; color:darkred;" (click)="deleteValidItem(i)"> X </button>
        </li>
      </ul>

      <ul class="invalid">
        <li *ngFor="let file of invalidFiles; let i = index">
          {{ file.name  }}
        </li>
      </ul>

      <div class="text-wrapper">
        <div class="centered"> Drag and drop your receipts here!! </div>
      </div>
    </div>

    <div class="col-sm-12">
      <label for="file-upload" class="custom-file-upload  btn btn-info col-sm-2" style="float:left;">
        <i class="fa fa-file-image-o"> Browse</i>
      </label>
      <input id="file-upload" class="btn  uploadBtn" type="file" (change)="onFileAdded($event)" />
      

      <button class="btn btn-info col-sm-2" style="float:right" type="submit" value="Upload" (click)="upload( )" [disabled]="fileList.length <=0"><i class="fa fa-cloud-upload"> Upload</i></button>
    </div>
    
  </div>

</div>

