
.dropzone {
  min-height: 300px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;

  ul {
    width: 100%;
    list-style: none;

    
  }
}
.invalid {
  li:before {
    content: '-';
    color: #ef000f;
  }

  li {
    padding-bottom: 5px;
    padding-left: 10px;
  }
}

.valid {
  @extend .invalid;
  li:before {
    content: '+';
    color: #6def9a;
  }

}


.text-wrapper{
  display: table-cell;
  vertical-align: middle;
}

.centered{
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}


.uploadBtn {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
