<h1>{{ title }}</h1>


<div class="row">
  <!--
<div class="col-lg-6">
    <form enctype="multipart/form-data" >
      <input type="text" class="col-lg-4"  #userName />
      <input type="number" class="col-lg-4" #age />
      <input type="text" class="col-lg-4" #lastName />
      <input class="btn btn-primary col-lg-12" type="submit" value="Submit" (click)="onSubmit(userName.value , age.value, lastName.value )">
    </form>

  </div>
      -->

  
  <div class="col-lg-12">

    <div class="dropzone" dragnDrop (filesChangeEmiter)="onFilesChange($event)" [allowed_extensions]="['png', 'jpg', 'bmp']" >
      <ul>
        <li *ngFor="let file of fileList">
          {{ file.name }}
        </li>
      </ul>

      <ul class="invalid">
        <li *ngFor="let file of invalidFiles">
          {{ file.name }}
        </li>
      </ul>

      <div class="text-wrapper">
        <div class="centered">  Drop Yor Receipts here!! </div>
      </div>
    </div>

    <input id="photo" type="file" />
    <!-- button to trigger the file upload when submitted -->
    <button type="button" class="btn btn-success " (click)="upload()"  accept="image/x-png,image/gif,image/jpeg" > Upload Image </button>
  </div>

</div>

