<h1>{{ title }}</h1>


<div class="row">
  <!--
<div class="col-lg-6">
    <form enctype="multipart/form-data" >
      <input type="text" class="col-lg-4"  #userName />
      <input type="number" class="col-lg-4" #age />
      <input type="text" class="col-lg-4" #lastName />
      <input class="btn btn-primary col-lg-12" type="submit" value="Submit" (click)="onSubmit(userName.value , age.value, lastName.value )">
    </form>

  </div>
      -->

  
  <div class="col-lg-12">

    <div class="dropzone" dragnDrop (filesChangeEmiter)="onFilesChange($event)"  (filesInvalidEmiter)="onInvalidFilesAdded($event)" [allowed_extensions]="['png', 'jpg', 'bmp']" >
      <ul class="valid">
        <li *ngFor="let file of fileList; let i = index">
          {{ file.name }}

          <button type="button" class=" " (click)="deleteValidItem(i)"> X </button>
        </li>
      </ul>

      <ul class="invalid">
        <li *ngFor="let file of invalidFiles; let i = index">
          {{ file.name  }}
        </li>
      </ul>

      <div class="text-wrapper">
        <div class="centered">  Drop your Receipts here!! </div>
      </div>
    </div>

    
    <label for="file-upload" class="custom-file-upload">
      <i class="fa fa-cloud-upload"></i> 
    </label>
    <input id="file-upload" type="file" (change)="onFileAdded($event)" class="uploadBtn" />


    <input class="btn btn-success col-lg-2" type="submit" value="Submit" (click)="upload( )">
  </div>

</div>

